@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.App {
  padding: 32px 75px;
  background-color: #19191B;
  border-radius: 30px;
}

header {
  margin-bottom: 100px;
}

.coinImg {
  margin-right: 14px;
  width: auto;
  height: 20px;
}

.MainTable {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
  width: 410px;

}

.MainTable tr {
  display: flex;
  justify-content: space-between;
}

.Selector {
  margin-bottom: 25px;
}

.selctorContainer{
  display: flex;
  justify-content: flex-end;
}

.selectorTableContainer {
  display: flex;
  flex-direction: column;
  width: 961px;
}

.addTable td span {
  font-size: 16px;
  display: flex;

  justify-content: center;
  align-items: center;

}

.mainCell {
  display: flex;
  position: relative;

}

.addTable td span.coinText {
  background: linear-gradient(90deg, #FFCB44 0%, #F89521 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  text-shadow: 0px 10px 30px rgba(253, 184, 56, 0.3);
}

.addTable td {
  width: 190px;
  height: 60px;
  padding: 0;

}

.MainTable td:nth-child(2n+1) span {
  opacity: 50%;
}

.addTable {
  background-color: #303030;
  border-radius: 16px;
  font-family: 'Rubik', sans-serif;
  padding: 0 25px
}

.headAddTable {
  font-size: 16px;
  color: white;
  opacity: 50%;
  position: relative;
}

.headAddTable td:nth-child(2n)::before {
  position: absolute;
  height: 373px;
  width: 180px;
  content: '';
  background-color: white;
  opacity: 5%;
  top: -2px;
}



.mainCell span::after {
  position: absolute;
  height: 1px;
  width: 913px;
  content: '';
  background-color: white;
  opacity: 10%;
  left: 0;
  bottom: 0;
}