.App {
  /* text-align: center; */
  padding: 32px 75px;
  background-color: #19191B;
  border-radius: 30px;
}

header {
  margin-bottom: 100px;
}

.MainTable {
  margin-bottom: 20px;
  font-family: 'Rubik';
  color: white;
  font-size: 18px;
  width: 410px;

}

.MainTable tr {
  display: flex;
  justify-content: space-between;
}

.Selector {
  margin-bottom: 25px;
}

.selctorContainer{
  display: flex;
  justify-content: flex-end;
}

.selectorTableContainer {
  display: flex;
  flex-direction: column;
  width: 961px;
}

.addTable td span {
  font-size: 16px;
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;

}

.monet {
  justify-content: flex-start;
}

.mainCell {
  display: flex;
  position: relative;

}

.addTable td {
  width: 190px;
  height: 60px;
  padding: 0;

}

.MainTable td:nth-child(2n+1) span {
  opacity: 50%;
}

.addTable {
  background-color: #303030;
  border-radius: 16px;
  font-family: 'Roboto';
  padding: 0 25px
}

.headAddTable {
  font-size: 16px;
  color: white;
  opacity: 50%;
  position: relative;
}

.headAddTable td:nth-child(2n)::before {
  position: absolute;
  height: 373px;
  width: 180px;
  content: '';
  background-color: white;
  opacity: 5%;
  top: -2px;
}



.mainCell span::after {
  position: absolute;
  height: 1px;
  width: 913px;
  content: '';
  background-color: white;
  opacity: 10%;
  left: 0;
  bottom: 0;
}